<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - Eeliminar Profesor</title>
</head>
<body>
{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
        <!-- Aqui va lo que cambia y lo asociado a esta vista -->
    {% if miFormulario.errors %}

    <p style="color: red;"> Estan mal los datos, revisar</p>

    {% endif %}

    <form action="/leerProfesores/" method="POST">{% csrf_token %}

        <!-- Aca esta la magia de Django -->

        <table>

            {{miFormulario.as_table}}

        </table>

        <input type="submit" value="Enviar">

    </form>

{% endblock %}
</body>
</html>